.successfully-copied-container {
  /* visibility: hidden; */
  animation: backInUp;
  animation-duration: 0.5s;

  background-color: #fff;
  background: linear-gradient(
    to right bottom,
    rgb(68, 71, 90),
    rgba(98, 114, 164, 0.5)
  );

  height: 5vh;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  user-select: none;
  cursor: default;
  margin-top: 20px;
  padding: 5px 20px;
  border: 2px solid #50fa7b;
  border-radius: 20px;
  font-size: 1.1rem;
  color: #fff;

  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;

  /* box-shadow: rgba(255, 184, 108, 0.4) 5px 5px,
    rgba(255, 184, 108, 0.3) 10px 10px, rgba(255, 184, 108, 0.2) 15px 15px,
    rgba(255, 184, 108, 0.1) 20px 20px, rgba(255, 184, 108, 0.05) 25px 25px; */
}

.successfully-copied-container span {
  color: #50fa7b;
  font-weight: bold;
}

.successfully-copied-container b {
  text-transform: capitalize;
}
